@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
*{
    font-family: Inconsolata;
}
html{
    scroll-behavior: smooth;
}
/*
body{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 15%;
    background-color: #E3E3E3;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}                                                   NA KOMP, KDYZTAK POUZIT
.body2{
    width: 85%;
    background-color: #FFFFFF;
    margin-left: 15%;
}
.navbar img{
    width: 70%;
    padding-bottom: 60px;
    padding-top: 40px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 2rem;
}
.vyditelna{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/



body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.body2{
    width: 100vw;
}
.vyditelna{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vyditelna h2{
    margin-top:9vh;
    padding-bottom: 3vh;
    font-size: 0.8rem;
}
.junior{
    font-size: clamp(3.9rem, 0.2935rem + 18.2609vw, 6rem);
    padding: 0px;
    margin: 0px;
    margin-bottom: -30px;
    font-weight:900;
}
.programmer{
    font-size: clamp(3.9rem, 0.2935rem + 18.2609vw, 6rem);
    padding: 0px;
    margin: 0px;
    font-weight:900;
    color: white;
    -webkit-text-stroke: 2px black;
}
.profilovy{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
}
.profilovy div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden
}
.portret{
    width: 100%;
    transform: scale(1.5);
    margin-top: 33vh;
    object-fit: cover;
}


.scroll-downs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 3.3vh;
}
.scroll-downs a{
    height: 100%;
    cursor: pointer;
}

.scroll-downs a img {
    height: 100%;
    animation: bounce 2s ease-in-out infinite;
}
.natlacitka{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 230px;
}
.natlacitka button{
    width: 50%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

/* Klíčové snímky pro přirozený pohyb */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.kdo-n{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    scroll-margin-top: 20px;
}
.kdo{
    margin: 0px 10px 10px 10px;
}
.kdo div p{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px;
    text-align: justify;
}
.kdo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    margin: 10px 0px;
    height: 250px;
}

.dov-n{
    margin-top: 170px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.dov-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.dov{
    overflow: hidden;
    width: 90%;
}
.dov .dovscrl img{
    width: 200px;
    margin: 0px 30px;
    flex-shrink: 0;
    scroll-snap-align: center;
    filter: saturate(0.2);
}
.dovscrl{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 15px;
}

.dovscrl::-webkit-scrollbar {
    display: none;
  }

.hidden{
    display: none;
}
.visible {
    display: flex;
  }

.dovbtnhldr{
    margin: 30px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.dovbtnhldr div{
    height: 100%;
    width: 60%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dovbtnhldr div:hover{
    background-color: #E3E3E3;
    transition: all 0.2s ease-in-out;
}
.dovbtnhldr div a{
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
}
.dovbtnhldr button{
    background: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dovbtnhldr button img{
    height: 80%;
}
.toleft{
    transform: rotate(90deg);
}
.toright{
    transform: rotate(-90deg)
} 
.posp-n{
    margin-top: 200px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 800;
}
.posp{
    margin: 0px 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    height: auto;
    background-image: url("img/rdr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.natext{
    padding: 8px;
}
.natext h3{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin: 5px;
    margin-top: 20px;
    font-weight: 500;
}
.natext ul li{
    color: white;
    font-size: 1rem;
    padding: 5px;
    font-weight: 300;
    text-align: justify;
}
.natext ul{
    padding-left: 20px;
}
.posp img{
    object-fit: contain;
    width: calc(100% - 30px);
    margin: 15px;
    filter: saturate(0);
}
.posp img:hover{
    filter: saturate(1);
    transition: all 0.5s ease-in-out;
}
.navice{
    padding-bottom: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:center;
}
.vice{
    width: 250px;
    height: 100%;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
.vice:hover{
    background-color: #2e2e2e;
    transition: all 0.2s ease-in-out;
}
@media only screen and (max-height: 790px){
    .vyditelna h2{
        margin-top: 6vh;
    }
}
@media only screen and (max-height: 680px){
    .portret{
        transform: scale(1.3);
    }
}
@media only screen and (max-width: 410px){
    
    .vyditelna h2{
        
        text-align: center;
    }
}
@media only screen and (min-width:500px){
    .portret{
        transform: scale(1.2);
    }
    .junior{
        
        margin-bottom: -40px;
    }
    .portret{
        margin-top: 29vh;
    }
}
@media only screen and (min-width:620px){
    .portret{
        transform: scale(1.1);
        margin-top: 23vh;
    }
    .vyditelna h2{
        margin-top: 7vh;
        padding-bottom: 2vh;
    }
}
@media only screen and (min-width:700px){
    .portret{
        transform: scale(1);
        margin-top: 20vh;
    }
}
@media (orientation: landscape) and (min-width: 1000px) {
    
    body{
        display: flex;
    }
    
    .body2{
        width: 80vw;
        margin-left: 20vw;
    }
    .profilovy{
        left: 20vw;
        width: 80vw;
    }
    
    .portret{
        width: 950px;
        margin-top: 0px;
    }
    .vyditelna h2{
        font-size: 1.8rem;
        margin-top: 9vh;
        padding-bottom: 1vh;
    }
    .profilovy div{
        justify-content:end ;
    }
    .junior{
        font-size: clamp(10rem, 0rem + 16vw, 13rem);
        margin-bottom: -110px;
    }
    .programmer{
        font-size: clamp(10rem, 0rem + 16vw, 13rem);
        -webkit-text-stroke: 3px black;
    }
    .scroll-downs{
        width: 80%;
    }
    .scroll-downs a img{
        filter: invert(1);
    }
    .kdo{
        display: flex;
        justify-content: space-around;
    }
    .kdo div{
        width: 30%;
    }
    .dov{
        width: 920px ;
    }
    .dovbtnhldr{
        justify-content: center;
    }
    .dovbtnhldr div{
        width: 20%;
    }
    .posp{
        display: flex;
        margin: 0px 50px;
        width: calc(100% - 140px);
        margin-bottom: 20px;
        height: auto;
        padding: 20px;
        padding-bottom: 50px;
    }
    .natext{
        width: 55%;
    }
    .netext{
        width: 45%;
    }
    .navice{
        margin-top: 10px;
        justify-content: end;
    }
    .vice{
        margin-right: 10px;
    }
    .natext ul li{
        font-size: 1.5rem;
    }
    .natext h3{
        font-size: 3rem;
    }
    .posp img{
        margin-top: 60px;
    }
    .dov-center{
        width: 100%;
    }
    .toleft{
        margin-right: 10%;
    }
    .toright{
        margin-left: 10%;
    }
    .natlacitka{
        width: 920px;
    }

}
@media only screen and (min-width: 1000px) and (max-width: 1200px) and (orientation: landscape) {
    .dov{
        width: 780px ;
    }
    .junior{
        margin-bottom: -86px;
    }
}